.footer {
  background: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.footer-text {
  color: #f4f4fd;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 17.5px;
}
.span-logo-footer {
  color: #f4f4fd;
}
.footter-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.footer-link {
  margin-top: 72px;
  margin-bottom: 72px;
}
.footer-link-text {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer-social-list-icon {
  fill: #f4f4fd;
}
.footer-form-text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.footer-input {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
  color: #fff;
}
.footer-submit {
  display: inline-flex;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
}
.footer-submit-icon {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-left: 108px;
  }
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-link {
    margin: 0;
  }
  .footer-text-wrapper {
    margin-right: 24px;
  }
  .footer-text {
    width: 264px;
  }
  .footter-logo {
    justify-content: flex-start;
    align-items: center;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-form-text {
    text-align: left;
    margin-top: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footer-form-text {
    text-align: left;
    margin-top: 0;
  }
  .footer-text-wrapper {
    margin-right: 120px;
  }
  .footer-link {
    margin-right: 80px;
  }
}
