.studio-icon {
  display: none;
}
.studio {
  padding: 96px 0;
  margin: 0 auto;
}

.studio-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.studio-titles {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 8px;
}
.studio-text {
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
@media screen and (min-width: 768px) {
  .studio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .studio-list-item {
    width: calc((100% - 24px) / 2);
  }
  .studio-titles {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .studio {
    padding: 120px 0;
  }
  .studio-icon {
    display: flex;
  }
  .studio-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .studio-list-item {
    width: calc((100% - 72px) / 4);
  }
  .studio-decoration {
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
  }

  .studio-titles {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }
  .studio-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
}
